/*Google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Merriweather+Sans:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,300;0,500;1,400&family=Great+Vibes&family=Lato:wght@300&family=Merriweather+Sans:wght@300&family=Monoton&family=Oswald:wght@200;300;400;500;600;700&display=swap');


/*Asteriks wildcard selector to override default styles added by the browser*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General styles*/

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*Generic project styles*/
    color: #342B43;
    font-family: 'Merriweather', sans-serif;
    
}

h1, h3, h4, h2 {
    font-family: 'Great Vibes', sans-serif;
    letter-spacing: 2px;
    color: #731D51;
    text-align: center;
}

/*Header*/

header {
 background-color: #FBF8FF;
 padding: 0 1rem;
 position: fixed;
 z-index: 99;
 width: 100%;
 box-shadow: 0 2px 3px #731D51;
 display: flex;
 justify-content: space-between;
 align-items: baseline;
}

header a {
    text-decoration: none;
    color: #731D51;
}


#menu{
    font-size: 110%;
    letter-spacing: 3px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 0.7em;
}

.active:hover {
     color: #E5924B;
}
.active {
    border-bottom: 1px solid #E5924B;
}

/* Navbar styles with dropdown toggle*/

nav{
    position: absolute;
        background-color: #FBF8FF;
        width: 100%;
        left: 0;
        padding: 0 1rem;
        box-shadow: 0 2px 3px #731D51;
        display: none;
        top: 100%;
}
    
/*Nav drop down*/
#nav-drop:checked~nav {
    display: block;
}

#nav-drop {
    display: none;
}
.nav-drop-label{
    font-size: 2rem;
    color: #731D51;
}

/*Main content*/
main {
    /* Enlarge main element to push footer down*/
    flex: 1 0 auto;
    /* Add margin at the top to prevent content from being covered by the header */
    margin-top: 40px;
    /* Enable flex properties for child elements */
    display: flex;
    flex-direction: column;
}

/* main_photo section */

#main_photo {
    height: 300px;
    width: 100%;
    background: url(../images/lovely-young-couple-dancing-together-party_495423-58545.jpg) no-repeat center center/cover;
    position: relative;
}

#quote{
   background-color: rgba(174,109,171,.7);
   font-size: 90%;
   width: 200px;
   position: absolute;
   bottom: 20px;
   padding-top: 15px;
   padding-left: 20px;
border-radius: 10px;
   
}

#quote > p{
    color: #ffffff;
   
    font-family: 'Great Vibes', sans-serif;

    font-size: 25px;
   
}

/* Products section*/

#products{
    width: 100%;
    margin: 20px auto;
}
#products h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 200%;
}
#tango>div,
#bachata>div,
#wedding-classes>div,
#tango-photo>div,
#bachata-photo>div,
#wedding-photo>div {
    line-height: 20px;
    margin-bottom: 20px;
    padding-right: 5px;
}

#tango,
#bachata,
#wedding-classes {
    display: block;
    

}

#products p {
    padding: 0 20px;
}


hr {
    border-top: 1px solid #3a3a3a;
    margin: 5px 0;
}

#photo_one{
    background: url(../images/tango_11.jpg) no-repeat center;
   
    height: 200px;
    width: 370px;
   
    
}
#photo_two {
    background: url(../images/Bachata_1.jpg) no-repeat center;
  
    height: 200px;
    width: 370px;
    
}
#photo_three {
    background: url(../images/groom-bride-dance.jpg) no-repeat center;
  
    height: 200px;
    width: 370px;
    
    
}

/*Who can register section*/

#type_who{
    display: block;
     
}

#type_who div{
  color:#FBF8FF;
  background-color: rgba(112, 21, 112, 0.7);
  padding: 15px;
  text-align: center;
  border-radius: 50%;

  
}

 #kids,
 #individ,
 #wedding{
    border: 5px solid rgb(228, 216, 153);
 }

#who h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 200%;
}

/*Override the heading color */
#type_who h3 {
    color: #FBF8FF;
    font-family: 'Merriweather',sans-serif;

       
}

/* About us Page*/

#photos img {
    width: 100%;
    line-height: 1em;
}

#photos {
    line-height: 0;
    margin: 10px;
}

/* About us text section */

#about-us {
    margin-top: 50px;
    
}



div h2, h3{
    font-family: 'Merriweather', sans-serif;

}

#about-us-text, #our-founder {
    text-align: justify;
    align-self: center;
    width: 100%;
    padding: 20px;
}

#about-us-text h2,
#our-founder h2{
    text-align: center;
}

/* Sign up page*/

#signup {
    background-image: url("../images/sign-up-photo.jpg");
    background-size: cover;
    background-position: 70%;
    padding: 20px 10% 0 10%;
    width: 100%;
    height: 700px;

    
}
#signup-form {
    color: #FBF8FF;
    background-color: rgba(37, 33, 37, 0.7);
    padding: 30px;

}

#signup-form>h2 {
    color: #dfc7e1;
    margin-bottom: 20px;
    font-size: 35px;
}

#signup-form>p {
    text-decoration: underline;
    margin-bottom: 20px;
    color: #f8e6fa;
}

.text-input {
    background: transparent;
    color: #FBF8FF;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #FBF8FF;
    border-radius: 2px;
    padding: 0 5px;
}

.radio-buttons {
    width: 100%;
    
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    font-size: 100%;
    background-color: #492f91;
    color: #FBF8FF;
}


/*Footer*/

footer {
    background-color: #FBF8FF;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 10px;
      
      
}

#social-media {

        padding: 10px 0;
        list-style-type: none;
        display: block;
        font-size: 130%;
        padding: 5%;
        color: #731D51; 
        
   
}
#social-media i {
    color: #731D51;
    padding: 5px 15px 5px 5px;
}
.address {
    padding: 10px 0 0 5px;
    display: flex;
    color: #731D51;
    
}

.contact{
padding: 10px 0 0 5px;
color: #731D51;


}
footer a {
    text-decoration: none;
    color: #731D51;
}

#fb:hover{
    transform: scale(2);
}
#insta:hover {
    transform: scale(2);
}
#youtube:hover {
    transform: scale(2);
}

.address:hover{
    transform: scale(1.2);
}
.contact:hover{
    transform: scale(1.2);
}

/* Media query large or landscape phones (576px and up)*/

@media screen and (min-width: 576px) {

 #photos {
    column-count: 2;
    column-gap: 0;
 }
}

/* Media query tablets and larger (768px and up)*/
@media  screen and (min-width: 768px) {
    /* Header */

    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }
    #menu {
        display: flex;
    }
    #menu > li {
    padding-left: 1rem;
    }

    .nav-drop-label {
          display: none;
    }

    #logo{
        font-size: 270%;
        padding-top: 0.6rem;
        margin: 0 0.5rem;
    }

    /*main content*/
    main{
        /*Push main content down*/
        padding-top: 1.6rem;

    }

    /* Main Image */

    #quote{
        width: 60%;
        right: 60px;
        font-size: 100%;
        
    }

    #quote> p {
        font-size: 30px;
        
    }

    /*products section*/
    #tango,
    #bachata,
    #wedding-classes {
        display: flex; 
        text-align: center;
        align-self: center;  
         }


         #tango>div,
         #bachata>div,
         #wedding-classes>div{
           display: block;
            width: 100%;
            table-layout: fixed;
            padding: 10px 10px 20px 20px;

         }

        #photo_one,
        #photo_two,
        #photo_three {
            width: 120%;
            align-items: center;
            padding: 0;
             }

    /*Who can register section*/
    
               #type_who {
                display: flex;
                flex-basis: 350px; 
                padding: 15px;
               
                justify-content: space-between;

               }

                                 #kids,
                                 #individ,
                                 #wedding {
                                     width: 90%;
                                     text-align: center;
                                     align-self: center;
                                     flex-grow: 1;
                                     height: 100px;
                                    border: 5px solid rgb(228, 216, 153);
                                 }
      
    /* About Us photo section */

    #photos {
          column-count: 3;
          column-gap: 0;
    }

    /*Sign up page*/
                /* Form */
                #signup {
                    background-position: center;
                    position: relative;
                    height: 900px;
                }
        
                #signup-form {
                    max-width: 500px;
                    position: absolute;
                    left: 10%;
                    top: 150px;
                }
        
                .text-input:hover {
                    border-color: #8970ef;
                }
        
                .join-button:hover {
                    background-color: #125a3d;
                    color: #f4cbeb;
                }
}

    
    @media screen and (min-width: 992px) {
        #menu a:hover {
            border-bottom: 1px solid #E5924B;
            color: #E5924B;
        }
           
                 /* Main Image */
        
                 #quote {
                     width: 40%;
                     right: 80px;
                     font-size: 160%;
        
                 }
             #main_photo{
                height: 850px;

             }

                           #tango>div,
                           #bachata>div,
                           #wedding-classes>div {
                               width: 100%;
                               text-align: center;
                               align-self: center;
                           }
       
           #tango,
           #bachata,
           #wedding-classes {
           display: flex;
                                                       
           }



    /* Sign up page*/
       
   #signup {
    height: 1000px;
   }

}