/*Google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Merriweather+Sans:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,300;0,500;1,400&family=Great+Vibes&family=Lato:wght@300&family=Merriweather+Sans:wght@300&family=Monoton&family=Oswald:wght@200;300;400;500;600;700&display=swap');


/*Asteriks wildcard selector to override default styles added by the browser*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General styles*/

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*Generic project styles*/
    color: #342B43;
    font-family: 'Merriweather', sans-serif;
    
}

h1, h3, h4 {
    font-family: 'Great Vibes', sans-serif;
    letter-spacing: 2px;
    color: #731D51;

}

/*Header*/

header {
 background-color: #FBF8FF;
 padding: 0 1rem;
 position: fixed;
 z-index: 99;
 width: 100%;
 box-shadow: 0 2px 3px #731D51;
 display: flex;
 justify-content: space-between;
 align-items: baseline;
}

header a {
    text-decoration: none;
    color: #731D51;
}


#menu{
    font-size: 110%;
    letter-spacing: 3px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 0.7em;
}

.active:hover {
     color: #E5924B;
}
.active {
    border-bottom: 1px solid #E5924B;
}

/* Navbar styles with dropdown toggle*/

nav{
    position: absolute;
        background-color: #FBF8FF;
        width: 100%;
        left: 0;
        padding: 0 1rem;
        box-shadow: 0 2px 3px #731D51;
        display: none;
        top: 100%;
}
    
/*Nav drop down*/
#nav-drop:checked~nav {
    display: block;
}

#nav-drop {
    display: none;
}
.nav-drop-label{
    font-size: 2rem;
    color: #731D51;
}

/*Main content*/
main {
    
    /*Make main element takes any surplus place and push the footer down*/
    flex: 1 0 auto; 
    margin-top: 36px;
}

/* main_photo section */

#main_photo {
    height: 700px;
    width: 100%;
    background: url(../images/lovely-young-couple-dancing-together-party_495423-58545.jpg) no-repeat center center/cover;
    position: relative;
}

#quote{
   background-color: rgba(174,109,171,.7);
   font-size: 150%;
   width: 280px;
   position: absolute;
   bottom: 50px;
   padding-top: 15px;
   padding-left: 10px;
}

#quote > h3, #quote > h4 {
    color: #ffffff;
}
/*Footer*/

footer {
    background-color: #FBF8FF;
    display: flex;
    justify-content: space-evenly;
      
      
}

#social-media {

        padding: 10px 0;
        list-style-type: none;
        display: block;
        font-size: 130%;
        padding: 5%;
        color: #731D51; 
        
   
}
#social-media i {
    color: #731D51;
}
.address {
    padding: 10px 0 0 5px;
    display: flex;
    color: #731D51;
    
}

.contact{
padding: 10px 0 0 5px;
color: #731D51;


}
footer a {
    text-decoration: none;
    color: #731D51;
}



/* Media query tablets and larger (768px and up)*/
@media  screen and (min-width: 768px) {
    /* Header */

    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }
    #menu {
        display: flex;
    }
    #menu > li {
    padding-left: 1rem;
    }

    .nav-drop-label {
          display: none;
    }

    #logo{
        font-size: 270%;
        padding-top: 0.6rem;
        margin: 0 0.5rem;
    }

    /*main content*/
    main{
        /*Push main content down*/
        padding-top: 1.6rem;

    }

    /* Main Image */

    #quote{
        width: 55%;
        right: 60px;
        font-size: 150%;
        
    }
    
    @media screen and (min-width: 992px) {
        #menu a:hover {
            border-bottom: 1px solid #E5924B;
            color: #E5924B;
        }
           
                 /* Main Image */
        
                 #quote {
                     width: 40%;
                     right: 80px;
                     font-size: 160%;
        
                 }
             #main_photo{
                height: 850px;

             }
       
    }



}